.containerMargin {
    margin-left: 12px;
    margin-right: 12px;
}

.midHeader {
    /*width: 100% !important;*/
    padding: 8px 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #01579b;
}

#logo {
    width: 100%;
    max-width: 259px;
    max-height: 94px;
    background-color: white;
    border-radius: 24px;
    padding: 0;
    margin: 0;
}

.headerButtons {
    width: min(2vw, 28px);
    margin-bottom: 5px;
    z-index: 1;
}

.colorHover:hover {
    color: #01579b !important;
}

.colorHover:active {
    color: #0277bd !important;
}

.midHeaderButtons {
    width: 12vw !important;
    max-width: 166px !important;
    height: 7vw;
    max-height: 94px !important;
    flex-grow: 0;
    margin-right: min(1.5vw ,30px);
    padding: 13px 15px;
    border-radius: 24px;
    background-color: #eceff1;
    font-size: min(1.1vw, 16px);
    line-height: 1;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.botHeader {
    width: 100% !important;
    max-height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0277bd;
}

.botHeaderButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: min(1.0vw ,14px);
    padding-bottom: min(1.0vw ,14px);
}
.botHeaderButtons:hover {
    background-color: #01579b;
}

.botHeaderButtons:active {
    background-color: #fafafa;
}

.botHeaderButtons:active .dropDownLabel {
    color: #01579b;
}

.botHeaderButtonsLabel {
    width: 100%;
    max-height: 100%;
    font-size: max(min(1.1vw, 16px), 8px);
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: white;
}

.myDropDownCss:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    top: 90%;
    left: 0px;
}

img.Vitrine {
    max-height: 100%;
    max-width: 100%;
}

.bottomBar {
    flex-grow: 0;
    padding: 8px 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #01579b;
}